.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.env
.env.*
*.pem
*.key
*.pfx
*.p12
secrets.json
config.json
VScodeEnvironmentServer/socketserver/node_modules/**
.git
.vscode
.vscode-test
out/test
src/**/*.map
*.vsix
